// Colores
$color-primary: #4038be;
$color-background: #0f172b;
$color-section-bg: #1b2337;
$color-white: #ffffff;
$color-text-secondary: #979fac;

// Tipografía
$font-base: 'Poppins', sans-serif;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

// Variables de border-radius
$border-radius: .375rem;
$border-radius-sm: .25rem;
$border-radius-lg: .5rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-pill: 50rem;